<template>
  <div>
    this is a sample list
  </div>
</template>

<script>

export default {
  name: 'Sample',
  components: {

  },
  data() {
    return {
      
    }
  },
  computed: {

  },
  created() {

  },
  mounted() {
    
  },
  methods: {
    
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

</style>
